---
layout: default
---
<div class="front">
{% for category in site.category-list %}
  <section class="category">
    <div class="col-sm-3"></div>

    <div class="col-sm-9 col-md-7">
      <h2>{{ category }}</h2>
      {% assign articles = site.articles | where: 'category', category %}
      {% assign articles = articles | sort: 'weight' %}
      {% for article in articles %}
        <h3>
            <a class="post-link" href="{{ article.url | prepend: article.baseurl }}">{{ article.title }}</a>
        </h3>
        <p>{{ article.intro }}</p>
      {% endfor %}
    </div>
  </section>
{% endfor %}
</div>
