@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
}

#wrapper {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

#content {
  flex: 1;
  margin-bottom: 50px;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
     margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
  font-family: 'MuseoSlab-700';
}

a {
  color: $brand-color;
  text-decoration: none;

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: none;
  }
}

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

pre,
code {
  font-size: 15px;
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.fa {
  color: $grey-color;
}

header.company {
  background: #34474c;
  font-family: 'MuseoSlab-500';
  line-height: 30px;

  a,
  a .fa {
    color: #68af7e;
  }

  a {
    text-transform: uppercase;
    display: inline-block;
    margin-right: 35px;
    padding-top: 3px;
  }

  a:hover {
    text-decoration: none;
  }
}

header.main {
  background: transparent url(../img/river.jpg) no-repeat center bottom;
  background-size: cover;
  padding-top: 225px;
  margin-bottom: 50px;

  .site-title {
    font-family: 'MuseoSlab-900';
    display: inline-block;
    background: #664a64;
    color: #fff;
    padding: 6px 12px;
    font-size: 24px;
  }
}

/* Front page */
.front {
  .intro {
    background: transparent url(../img/space.jpg) no-repeat center bottom;
    background-size: cover;
    overflow: auto;
    margin-bottom: 50px;
    margin-top: -30px;

    .in {
      display: inline-block;
      bbackground: #34474c;
      padding: 35px;
      margin: 30px 30px 30px 25%;
      color: #fff;
      width: calc(75% - 30px);

      h1,
      p {
        margin: 0;
      }
    }
  }

  section.category {
    margin-bottom: 25px;

    .article {
      margin-bottom: 20px;
    }

    h2, h3 {
      font-family: $base-font-family;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 16px;
      font-weight: 700;
      margin-bottom: 0px;
    }

    h3 a {
      color: $link-color;
    }
  }
}

/* Article page */

.sidenav {
  h2 {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    font-weight: 700;
    cursor: pointer;
  }

  ul {
    display: none;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .active ul {
    display: block;
  }
}

.post-list a {
  color: $link-color;
}

ul.post-list,
.post-list li {
  list-style: none;
  text-indent: 0;
  padding: 0;
  margin: 0;
  line-height: 1.1;
}

ul.post-list {
  margin-bottom: 2em;
}

.post-list li {
  margin-bottom: 1em;
}

footer {
  text-align: center;

  span {
    display: inline-block;
    margin: 0px 20px;
  }
}

