---
layout: default
---

<div class="col-sm-3">
  {% for category in site.category-list %}
    <h2 class="category">{{category}}</h2>
    <ul class="post-list">
      {% assign articles = site.articles | where: 'category', category %}
      {% assign articles = articles | sort: 'weight' %}
      {% for article in articles %}
        <li>
            <a class="post-link" href="{{ article.url | prepend: article.baseurl }}">{{ article.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>

<div class="col-sm-9 col-md-7">
  <h2>{{ page.title }}</h2>
  {{ content }}
</div>
